# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [13]:
s1 = pd.Series(np.random.randint(1, 5, 100, 'l'))
s2 = pd.Series(np.random.randint(1, 4, 100, 'l'))
s3 = pd.Series(np.random.randint(10000, 30001, 100, 'l'))

print(s1, s2, s3)

0     2
1     2
2     3
3     3
4     1
     ..
95    1
96    4
97    4
98    3
99    2
Length: 100, dtype: int32 0     1
1     1
2     2
3     1
4     2
     ..
95    2
96    1
97    1
98    2
99    3
Length: 100, dtype: int32 0     19090
1     14706
2     20457
3     11892
4     10548
      ...
95    18683
96    23325
97    25646
98    19669
99    14940
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [14]:
house = pd.concat([s1, s2, s3], axis=1)
house.head()

   0  1      2
0  2  1  19090
1  2  1  14706
2  3  2  20457
3  3  1  11892
4  1  2  10548

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [15]:
house.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
house.head()

   bedrs  bathrs  price_sqr_meter
0      2       1            19090
1      2       1            14706
2      3       2            20457
3      3       1            11892
4      1       2            10548

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

### Step 6. Oops, it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299