# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
url1 = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv' 
url2 = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv'

cars1 = pd.read_csv(url1)
cars2 = pd.read_csv(url2)

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [7]:
cars1 = cars1.loc[:, 'mpg':'car']
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [10]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [11]:
cars = cars1.append(cars2)
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [14]:
nr_owners = np.random.randint(15000, 73000, size = len(cars), dtype='l')
nr_owners

array([46756, 66313, 72607, 57232, 60404, 60077, 71401, 44852, 44189,
       45743, 31874, 63749, 17282, 32945, 44676, 20323, 48563, 41966,
       34149, 46133, 48006, 69157, 23800, 34510, 67138, 71574, 25291,
       46773, 15695, 55055, 22790, 68905, 67843, 40779, 41433, 71910,
       30194, 34072, 22890, 20019, 57223, 61124, 15244, 45797, 25238,
       20009, 27578, 70814, 52489, 31886, 66433, 65613, 54158, 30888,
       34358, 63270, 37566, 27763, 66875, 52079, 24125, 41426, 68669,
       17428, 42451, 49412, 61930, 28518, 23698, 18481, 54282, 35237,
       18724, 65861, 33361, 44119, 16161, 24183, 42122, 17622, 45797,
       42787, 46533, 19021, 53431, 71212, 58168, 32401, 66250, 22041,
       35955, 32928, 38592, 48052, 33718, 43233, 59767, 52627, 44342,
       42268, 16945, 40672, 26616, 42104, 68701, 56465, 62237, 21983,
       47325, 71834, 64685, 39140, 64094, 61167, 63747, 44685, 37623,
       43470, 38148, 37300, 68526, 47927, 68230, 63921, 34538, 51657,
       42144, 49471, 70413, 50914, 30461, 17510, 58613, 25936, 61702,
       45616, 71113, 71260, 64137, 39460, 71853, 48355, 61307, 41999,
       35147, 45504, 57404, 60117, 48388, 24845, 42089, 65377, 47711,
       33825, 66940, 22921, 48980, 45817, 24317, 54491, 27377, 56824,
       34547, 58332, 38842, 46711, 72359, 23791, 51213, 57328, 20820,
       41373, 32665, 39792, 68427, 57623, 46623, 32250, 68138, 38156,
       63725, 52240, 38835, 26652, 20666, 64742, 20532, 36862, 15813,
       44122, 16918, 46230, 46592, 17158, 52563, 49738, 34342, 35140,
       46492, 68883, 24340, 43518, 52648, 72927, 48135, 66973, 19037,
       19350, 61926, 20384, 38451, 41141, 26161, 33011, 27314, 28158,
       72127, 27377, 42215, 71794, 44860, 65621, 44328, 55972, 71433,
       26120, 34327, 33109, 54290, 53744, 22738, 50318, 17289, 42938,
       18773, 72674, 27430, 52646, 15475, 18408, 30054, 63097, 25761,
       52734, 44532, 40798, 16666, 50873, 47033, 18321, 30712, 51373,
       66354, 72628, 66035, 19713, 56173, 30828, 36535, 41461, 40230,
       27640, 34900, 41106, 47986, 51171, 71515, 37821, 72399, 62154,
       39370, 44888, 50768, 22582, 39349, 44419, 34218, 46098, 45037,
       33031, 66090, 68097, 72068, 33199, 29040, 37818, 42351, 58986,
       68909, 31060, 22485, 25927, 15819, 22607, 50282, 67913, 52515,
       19868, 24010, 33130, 49333, 72441, 20303, 27905, 16289, 45221,
       55650, 32099, 56815, 70036, 18697, 37367, 48617, 24874, 42616,
       36374, 69616, 37760, 54100, 48045, 33329, 32026, 29391, 56008,
       23201, 15061, 38258, 37257, 17444, 36381, 21818, 51627, 62974,
       16216, 52575, 55850, 22213, 51585, 35635, 41699, 60456, 22009,
       31487, 56538, 21961, 53492, 55608, 67645, 26471, 61607, 72100,
       20219, 32722, 43758, 42741, 57446, 63361, 28690, 32867, 43323,
       62565, 20613, 40130, 45014, 40733, 42324, 26412, 61078, 20219,
       18636, 71730, 32609, 69994, 44922, 65529, 23086, 41448, 62832,
       47357, 43583, 55310, 42138, 41815, 70496, 67785, 71576, 61000,
       51357, 33792, 46422, 21569, 50701, 60385, 25540, 41395, 37605,
       43874, 49584])

### Step 8. Add the column owners to cars

In [15]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,25540
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,41395
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,37605
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,43874
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,49584